
<div id="main">
  <div id='beforetime' style='display: none;'> <%= @muse.beforetime %> </div>
  <div id='startime'  style='display: none;'> <%= @muse.startime %> </div>
  <div id='prevtime'  style='display: none;'> <%= @muse.prevtime %> </div>
  <div id='currtime'  style='display: none;'> <%= @muse.currtime %> </div>
  <div id='output'></div>
  <div id='progress'></div>
  <div id='button' onclick= 'switchScreen()' style='display:none;'> Put on your Muse Headband </div>
</div>