<!DOCTYPE html>
<html>
<head>
  <title>MuseLeapBackend</title>
  <script src="//js.leapmotion.com/leap-0.6.4.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
